.container__form {
  margin-left: 25%;
  width: 50%;
  height: fit-content;
  padding: 35px;
  //background-color: red;

  label {
    display: flex;
    width: fit-content;
    font-size: 16px;
  }

  input[type="text"] {
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    width: 50%;
    min-height: 64px;
  }

  input[type="text"]:focus {
    border: 1px solid #1668c4;
  }

  .fullname__container {
    display: flex;
    position: relative;
    left: 0;
    margin-left: auto;
    align-items: center;
    justify-content: center;

    .name__container {
      .name__input {
        position: relative;
        left: -3vw;
        width: 100%;
        min-width: 410px;
        padding: 20px 10px;
        margin: 10px 1px;

        color: grey;
        font-size: larger;
        background-color: white;
        // box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid gray;
        //border-style: none;
      }
    }
    .apellido__container {
      .apellido__input {
        width: 100%;
        position: relative;
        left: -25px;
        padding: 20px 30px;
        margin: 25px 20px;
        margin-right: -10px;
        margin-left: 40px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid gray;
        font-size: larger;
      }
    }
  }

  .email__input {
    position: relative;
    left: 2vw;
    top: 1vh;
    width: 820px !important;
    margin: 1%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: larger;
  }

  .zones__container {
    display: flex;
    position: relative;
    min-height: 64px;
    top: -3vh;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 40px;
    color: gre;
    //background-color: aqua;

    .departamento__container {
      position: relative;
      left: 4vw;
      top: 0;
      margin: 2vh 5vw;
      width: 100%;
      select {
        order: 0;
        border-radius: 5px;
        padding: 15px 8vw;
        font-size: 20px;
      }
    }
    .localidad__container {
      position: relative;
      left: -4vw;
      margin: 5vh 5vw;
      select {
        border-radius: 5px;
        padding: 15px 6.5vw;
        font-size: 20px;
        color: grey;
      }
    }
  }

  .CI__and__checkbox__container {
    display: flex;
    position: relative;
    top: -7vh;
    min-height: 64px;
    //background-color: aqua;

    .cedula__container {
      input[type="text"] {
        position: relative;
        border-radius: 5px;
        padding-right: 6.6em;
        margin: 4vh 12%;
        padding-right: 10vw;
        font-size: large;
        width: 100%;
        border: 1px solid gray;
      }
    }
    .checkbox__container {
      input[type="checkbox"] {
        position: relative;
        top: 40px;
        left: -0.8 vw;
        border-radius: 10px;
        font-size: large;
        width: 100%;
      }

      label {
        position: relative;
        top: 6.2vh;
        left: 7.2vw;
        font-size: 20px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }
    }
  }

  .container__button {
    display: flex;
    position: relative;
    left: 34%;
    top: -6vh;
  }
}
